{% extends 'base.html.twig' %}

{% block title %} Modification du profil utilisateur {% endblock %}

{% block body %}
    <div class="container">
        <h1>Modification du profil</h1>

        {# Début du form #}
        {{ form_start(form) }}

        {# Affichage des champs #}
        {{ form_widget(form) }}

        <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>

        {{ form_end(form) }}


    </div>
{% endblock %}