<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1> {{ title }}</h1>

    {% if age >= 18 %}
        <p>Adulte</p>

     {% elseif age >=12 %}
        <p>Ado</p>

    {% else %}
        <p>Enfant</p>
    {% endif %}

    {% for prenom, age in tableau %}
        {{prenom}} a {{age}} ans <br/>
    {% endfor %}

    {% for compteur in 0..10 %}
        {{compteur}}
    {% endfor %}
    
</body>
</html>