{% extends "base.html.twig" %}

{% block title %} Création d'une annonce  {% endblock %}

{# _self représente le fichier actuel. Possibilité de mettre un chemin de 
    fichier twig à la place #}

 
{% block body %}

    <div class="container">
        <h1>Créer une nouvelle annonce</h1>
        {{ form_start(form) }}

        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Créer la nouvelle annonce</button>

        {{ form_end(form) }}
    </div>

{% endblock %}